@page
@model AuthApp.Pages.Registration
@{
    ViewData["Title"] = "Registration";
}

<h1>@ViewData["Title"]</h1>

    
<form method="post">
    <lable>Name: </lable>
    <input type="text" name="UName"/>
    <p></p>
    <lable>Password: </lable>
    <input type="text" name="UPassword"/>
    <p></p>
    <lable>Email: </lable>
    <input type="text" name="UEmail"/>
    <p></p>
    <lable>Age: </lable>
    <input type="number" name="UAge"/>
    <p></p>
    <button type="submit">Register</button>
    <button asp-page="/Login">Go back</button>
</form>